<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NaariSuraksha</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.naari.suraksha.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Registration</display-name>
    <servlet-name>User_Registration</servlet-name>
    <servlet-class>com.naari.suraksha.User_Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Registration</servlet-name>
    <url-pattern>/User_Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Login</display-name>
    <servlet-name>User_Login</servlet-name>
    <servlet-class>com.naari.suraksha.User_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Login</servlet-name>
    <url-pattern>/User_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceLoginServlet</display-name>
    <servlet-name>PoliceLoginServlet</servlet-name>
    <servlet-class>com.naari.suraksha.PoliceLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceLoginServlet</servlet-name>
    <url-pattern>/PoliceLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Police</display-name>
    <servlet-name>Add_Police</servlet-name>
    <servlet-class>com.naari.suraksha.Add_Police</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Police</servlet-name>
    <url-pattern>/Add_Police</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Send_Alert</display-name>
    <servlet-name>Send_Alert</servlet-name>
    <servlet-class>com.naari.suraksha.Send_Alert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Send_Alert</servlet-name>
    <url-pattern>/Send_Alert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>com.naari.suraksha.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.naari.suraksha.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>